.station-timeline {
    width: 1000px;
    position: relative;
    display: block;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;

	ul {
		padding: 0;
		margin: 0;
	}

    &__time {
        position: absolute;
        top: 10;
        width: 1px;
        height: 100%;
        white-space: nowrap;
        list-style: none;
        animation: 600s slideLeft linear, 0.5s appear linear;
    }

	&__circle {
		width: 10px;
	    height: 10px;
	    border: 1px solid red;
	    border-radius: 9999px;
	    position: absolute;
	    right: -10px;
	    bottom: -5px;
	}

    &__name {
        right: 0;
        position: absolute;
        border-bottom: 1px solid red;
        padding-right: 5px;
    }

	&__minutes {
		height: 100%;
		width: 1px;
		background: black;
		position: absolute;
	}

	&__seconds {
		height: 100%;
		width: 1px;
		background: lightgrey;
		position: absolute;
	}
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes slideLeft {
  0% { transform: translateX(0px) }
  100% { transform: translateX(-200px) }
}
