$A: #F59300;
$C: #009F37;
$D: #009EE6;
$E: #F286B6;
$F: #005792;
$G: #A04998;
$H: #85AF00;
$I: #005A59;
$J: #EA298A;
$P: #FFCE00;


.station-timeline {
    width: 100%;
    position: relative;
    display: block;
    height: 300px;
    overflow: hidden;
    padding: 10px 0;

	ul {
		padding: 0;
		margin: 0;
	}

    &__label {
        position: absolute;
        white-space: nowrap;
        bottom: 10px;
        left: -12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: black;
        color: white;
        border-radius: 9999px;
    }

    &__time {
        position: absolute;
        top: 10;
        width: 1px;
        height: 100%;
        white-space: nowrap;
        list-style: none;
        animation: 600s slideLeft linear, 1s appear linear;
    }

	&__circle {
        .ios & {
	        border: 1px solid blue;
        }

        .android & {
            border: 1px solid red;
        }

        .A & {
            border: 1px solid $A;
        }

        .C & {
            border: 1px solid $C;
        }

        .E & {
            border: 1px solid $E;
        }

        .F & {
            border: 1px solid $F;
        }

        .G & {
            border: 1px solid $G;
        }

        .H & {
            border: 1px solid $H;
        }

        .I & {
            border: 1px solid $I;
        }

        .J & {
            border: 1px solid $J;
        }

        .P & {
            border: 1px solid $P;
        }

		width: 10px;
	    height: 10px;
	    border: 1px solid red;
	    border-radius: 9999px;
	    position: absolute;
	    right: -10px;
	    bottom: -5px;
	}

    &__name {
        .ios & {
	        border-bottom: 1px solid blue;
        }

        .android & {
            border-bottom: 1px solid red;
        }

        .A & {
            border-bottom: 1px solid $A;
        }

        .C & {
            border-bottom: 1px solid $C;
        }

        .E & {
            border-bottom: 1px solid $E;
        }

        .F & {
            border-bottom: 1px solid $F;
        }

        .G & {
            border-bottom: 1px solid $G;
        }

        .H & {
            border-bottom: 1px solid $H;
        }

        .I & {
            border-bottom: 1px solid $I;
        }

        .J & {
            border-bottom: 1px solid $J;
        }

        .P & {
            border-bottom: 1px solid $P;
        }

        right: 0;
        position: absolute;
        border-bottom: 1px solid red;
        padding: 1px 5px;
    }

	&__minutes {
		height: 100%;
		width: 1px;
		background: black;
		position: absolute;
	}

	&__seconds {
		height: 100%;
		width: 1px;
		background: lightgrey;
		position: absolute;
	}
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes slideLeft {
  0% { transform: translateX(0px) }
  100% { transform: translateX(-100vw) }
}
