.current-users {
    font-family: 'Titan One', cursive;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 120px;
    background: red;
    color: white;
    position: relative;
}

.current-users__title {
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    padding: 18px;
    font-size: 14px;
    top: 0;
    width: 100%;
    line-height: 14px;
}
